<footer>
    <div class="footer-content">
        <div class="contact-info">
            <h6>Contact Us</h6>
            <p>Email: info@artstudios.com</p>
            <p>Phone: +1 (123) 456-7890</p>
            <p>Address: 123 Art Street, Cityville</p>
        </div>
        <div class="products">
            <h6 style="text-align: center;">products</h6>
            <ul>
                <li>bags</li>
                <li>jewelry</li>
                <li>home made atrifacts</li>
                <li>handlooms</li>

            </ul>

        </div>
        <div class="technical-info">
            <h6>Technical Support</h6>
            <p>Email: support@artstudios.com</p>
            <p>Phone: +1 (987) 654-3210</p>
        </div>
    </div>
    <div class="copyright">
        <p>© 2023 Art Studios. All rights reserved.</p>
    </div>
</footer>

<style>
    .products{
        text-align: left;
    }
    footer{
/*
background-color: rgb(7, 38, 58);
*/
min-height: 30px;
    position:relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(21, 55, 97);
  color: white;
  /* text-align: center; */
    }
    .footer-content {
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
    }
    .copyright{
        text-align: center;
        background-color: rgb(13, 41, 81);
    }
    .contact-info,.products,.technical-info{
        margin-bottom: 5px;
        line-height: 1.3;
    }
    
</style>