<footer>
    <link rel="stylesheet" href="\stylesheets\navbar_footer_style.css">
    <div class="footer-content">
        <div class="contact-info">
            <h6 class="footer_heading">Contact Us</h6>
            <p>Email: info@swapnshop.com</p>
            <p>Phone: +1 (123) 456-7890</p>
            <p>Address: 123 Art Street, Cityville</p>
        </div>
        <div class="products">
            <h6 class="footer_heading" style="text-align: center;">products</h6>
            <ul>
                <li>bags</li>
                <li>jewelry</li>
                <li>home made atrifacts</li>
                <li>handlooms</li>

            </ul>

        </div>
        <div class="technical-info">
            <h6 class="footer_heading">Technical Support</h6>
            <p>Email: support@swapnshop.com</p>
            <p>Phone: +1 (987) 654-3210</p>
        </div>
    </div>
    <div class="copyright">
        <p>© 2023 swapnshop. All rights reserved.</p>
    </div>
</footer>
