<% layout('layouts/boilerplate') %>
<div style="height:580px; width: 100%; overflow: hidden;">
    <img src="	https://res.cloudinary.com/dfibrqhtl/image/upload/w_500/v1706548163/Paintings/Illustration-of-Selling-Products-Online-Payment_k6sdey.jpg" style="width:100%;position: absolute; top:0%; left:0%; " alt="">
    <p style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: rgb(11, 51, 96); text-align: center; font-size: 28px;">
        "Discover a world of possibilities as you explore our marketplace that seamlessly blends buying and selling."
    </p>
</div>
<div >
    <!-- Left half for the picture -->
    <div style="font-size: 26px;">Alice Tate-</div>
    <div style="display: flex; height: 100px; align-items: center; justify-content: center; font-size: 26px;">
        <br>
        "From the moment I first explored your marketplace, I was captivated by the diverse range of products and the intuitive design that makes navigation a breeze. The fusion of buying and selling features creates a harmonious space where both buyers and sellers thrive."</div>
</div>
<div style="display: flex; height: 100vh; align-items: center; justify-content: center;">
    <!-- Left half for the picture -->

    <!-- Right half for the quote and button -->
    <div style="flex: 1; text-align: center; padding: 20px; color: rgb(65, 45, 21);">
        <h3>Welcome Home</h3>
        <!-- Add your quote here -->
        <p style="font-size: larger;">"Where Art Finds Its Home: Discover, Collect, and Connect"</p>

        <!-- Your form and button go here -->
        <form action="/paintings">
            <button style="background-color: beige; margin-top: 20px;">Click Here</button>
        </form>
    </div>
    <div style="flex: 1;">
        <!-- Your image goes here -->
        <img src="https://res.cloudinary.com/dfibrqhtl/image/upload/w_500/v1706548163/Paintings/Video_20on_20Websites.jpg_patoie" style="flex: 1;">
    </div>
</div>
<style>
    img {
        width: 100%;
        /* height: auto; */
        margin: 0;
        margin-left: 0%;
        padding-left: 0%;
        padding: 0;
    }

    button {
        background-color: beige;
        margin-top: 20px;
    }
</style>
