<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="\stylesheets\register.css">
<div class="login-page">
<form action="/register" method="POST"> 
    <div class="card">
        <div class="card-title"><h3>REGISTER</h3></div>
            <div class="mb-3">
                <input type="text" id="username" name="user[username]" placeholder="username" required>
            </div>
            <div class="mb-3">
                <input type="email" id="email" name="user[email]" placeholder="email" required>
            </div>
            <div class="mb-3">
                <input type="textarea" id="address" name="user[address]" placeholder="address" required>
            </div>
            <div class="mb3">
                <input type="password" name="user[password]" placeholder="password" required>
            </div class="mb-3" >
            <p >By clicking the submit button i agree to all the terms and conditions</p>
                <button type="submit">submit</button>
            
    </div>
</form> 
</div>
<script>
    try{
        const email=form.user[email].value;
        const password=form.user[password].value;
        const res=await fetch('/register',{
            method:'POST',
            body:JSON.stringify({email,password}),
            headers:{'Content-Type':'application/json'}
        });
    }
    catch(e){
       console.log(e) 
    }
</script>

