<% layout('layouts/boilerplate') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Successful</title>
    <link rel="stylesheet" href="\stylesheets\style.css">
    
</head>
<body>
    <div class="checkout">
    <h2 class="order">ORDER PLACED SUCCESSFULLY</h2>
    <p>Your order has been confirmed. Thank you for shopping with us!</p>
    <div class="success-icon">&#10003;</div>
    <a href="/paintings" class="back-to-home">Back to Home</a>
</div>
</body>
</html>
