

<% layout('layouts/boilerplate') %>

<div class="container mt-5">
  <h4 >ENTER PRODUCT DETAILS</h4>
  <form class="row g-3 needs-validation form-floating" action="/paintings" method="POST" novalidate enctype="multipart/form-data">

    <!-- Left Column -->
    <div class="col-md-6 mb-3">
      <!-- <label for="name" class="form-label">Enter the name of the painting</label> -->
      <div class="mb-3">
      <input type="text" class="form-control" name="painting[name]" id="name" placeholder="productname" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 mb-3" style="width:35%">
      <label for="category" class="form-label">Select Category</label>
      <select class="form-select" name="painting[category]" id="category" required>
        <option value="" selected disabled>Select Category </option>
        <option value="jewelry">Jewelry</option>
      <option value="bags">Bags</option>
      <option value="homeappliance"> Home Appliance</option>
        <!-- Add more options as needed -->
      </select>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
      <!-- <label for="image" class="form-label">Select Image</label> -->
      <div class="mb-3">
      <input type="file" name="image" class="form-control" id="image" placeholder="choose files" multiple required>
    </div>
    <div class="mb-3">
      <!-- <label for="price" class="form-label">Enter Price</label> -->
      <input type="text" class="form-control" id="price" name="painting[price]" placeholder="price($)" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
  </div>

    <!-- Right Column -->
    <div class="col-md-6 mb-3">
      <!-- <label for="description" class="form-label">Description</label> -->
      <textarea name="painting[description]" class="form-control" id="description" rows="7" placeholder="Description" required></textarea>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>

    <div class="col-12">
      <button type="submit">Submit</button>
    </div>
  </form>
</div>
<style>
  button {
    background-color: rgb(25, 41, 86);
    color: azure;
    height: 40px;
    border-radius: 5px;
    width:100px;
    margin:10px;
  }
  input{
    height: 45px;
    border-color: rgba(210, 199, 199, 0.646);
  }

</style>
